.card1 {
  width: 750px;
  height: 470px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  overflow: hidden;
  position: relative;

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);

    img {
      transform: scale(1.1);
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: all 0.3s ease;
  }

  .link-box {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 47px 17px 40px;

    background-color: white;

    .title-box {
      display: flex;
      flex-direction: column;
      gap: 10px;

      a {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease;

        .title {
          color: black;
          font-size: 24px;
          font-weight: 900;
          font-style: normal;
          margin: 0;
        }

        &:hover {
          gap: 20px;
        }
      }

      .auther {
        color: #626262;
        font-size: 20px;
        font-weight: 700;
      }
    }

    .buy-box {
      display: flex;
      margin-block: 13px 16px;
      gap: 39px;

      button {
        height: 34px;
        width: auto;
        background-color: transparent;
        border: 0;
      }

      .cart {
        color: #FFCB4F;
        font-size: 28px;
        font-weight: 900;
      }

      .mint-buy {
        color: #4F69F5;
        font-size: 28px;
        font-weight: 900;
      }
    }
  }
}